extends baseEmail

block content
    p Hi #{firstName},
    p Forgot your password? Submit your password-changing request to:#{url}.
    p (website for this action is not implemented)
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target='_blank') Reset your password
    p Ignore this email if you are not a Natours user
    p - Liming Huang, CEO